*{
color:white;
background-color: #24242A;
}

h1{ 
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
font-size: 65px; 
font-style: normal;
 font-variant: normal;
  font-weight: 700; 
  line-height: 53.9px;
  }


.nav{
	background-color:grey;
	overflow:hidden;
}
  .nav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  background-color:grey;
}

.submit{
float:right;
margin:10px;
padding:5px;
border:2px solid white;
border-radius:4px;
color:white;
}

.search{
float:right;
margin:10px;
padding:5px;
border:2px solid white;
border-radius:4px;
color:white;
}


.nav a.selected{
color:#24242A;
background-color:white;
}

.nav a:hover{
background-color:white;
color:#24242A;
}

p{
background-color:grey;
border:4px solid white;
border-radius: 8px;
padding:10px;
}
