*{
color:white;
background-color: #24242A;
}
h1{ 
font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace; 
font-size: 65px; 
font-style: normal;
 font-variant: normal;
  font-weight: 700; 
  line-height: 53.9px; }


h1, h2{
text-align:center;
}

h2{
font-size:25px;	
}

div{
text-align:center;
}

p{
	background-color:grey;
}

p{
display:inline-block;
border:4px solid white;
border-radius: 8px;
height: 40px;
width:350px;
margin:20px;
background-color: grey;
}


h3{
	text-align:center;
}